:root {
  --primary-color: #143326;
  --secondary-color: #ECC290;
  --background-color: #ECC290;
  --font-family: 'Roboto', sans-serif;
  --heading-font-family: 'Cinzel Decorative', serif;
}

html, body {
  background-color: var(--background-color);
  margin: 0;
  font-family: var(--font-family);
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --primary-color: #FFFFFF;
    --secondary-color: #F0F0F0;
  }
}
